<%= form_for(@player) do |f| %>
    <% if @player.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@player.errors.count, "error") %> prohibited this player from being saved:</h2>

          <ul>
            <% @player.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>

    <div class="field">
      <%= f.label :name %><br>
      <%= f.text_field :name %>
    </div>
    <%= f.fields_for :strokes do |stroke_form|%>
        <div class="field">
          <%= stroke_form.label :shot_id %><br>
          <%#= stroke_form.text_field :shot %>
          <%= stroke_form.collection_select :shot_id, Shot.all, :id, :name %>
        </div>
        <div class="field">
          <%= stroke_form.label :hand_id %><br>
          <%#= stroke_form.text_field :handedness %>
          <%= stroke_form.collection_select :hand_id, Hand.all, :id, :name %>
        </div>
        <div class="field">
          <%= stroke_form.label :grip_id %><br>
          <%#= stroke_form.text_field :grip %>
          <%= stroke_form.collection_select :grip_id, Grip.all, :id, :name %>
        </div>
        <div class="field">
          <%= stroke_form.label :spin_id %><br>
          <%#= stroke_form.text_field :spin %>
          <%= stroke_form.collection_select :spin_id, Spin.all, :id, :name %>
        </div>
        <div class="field">
          <%= stroke_form.label :link %><br>
          <%= stroke_form.text_field :link %>
        </div>
    <% end %>
    <div class="actions">
      <%= f.submit %>
    </div>
<% end %>
