<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <div class="field">
      <%= f.label :shot %><br>
      <%#= f.text_field :shot %>
      <%= f.collection_select :shot, Search.select(:shot).uniq, :shot, :shot %>
    </div>
    <div class="field">
      <%= f.label :handedness %><br>
      <%#= f.text_field :handedness %>
      <%= f.collection_select :handedness, Search.select(:handedness).uniq, :handedness, :handedness %>
    </div>
    <div class="field">
      <%= f.label :grip %><br>
      <%#= f.text_field :grip %>
      <%= f.collection_select :grip, Search.select(:grip).uniq, :grip, :grip %>
    </div>
    <div class="field">
      <%= f.label :spin %><br>
      <%#= f.text_field :spin %>
      <%= f.collection_select :spin, Search.select(:spin).uniq, :spin, :spin %>
    </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
