<%= form_for(@search) do |f| %>
  <% if @search.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@search.errors.count, "error") %> prohibited this search from being saved:</h2>

      <ul>
      <% @search.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div class="field">
      <%= f.label :shot_id %><br>
      <%#= f.text_field :shot %>
      <%= f.collection_select :shot_id, Shot.all, :id, :name %>
    </div>
    <div class="field">
      <%= f.label :hand_id %><br>
      <%#= f.text_field :handedness %>
      <%= f.collection_select :hand_id, Hand.all, :id, :name %>
    </div>
    <div class="field">
      <%= f.label :grip_id %><br>
      <%#= f.text_field :grip %>
      <%= f.collection_select :grip_id, Grip.all, :id, :name %>
    </div>
    <div class="field">
      <%= f.label :spin_id %><br>
      <%#= f.text_field :spin %>
      <%= f.collection_select :spin_id, Spin.all, :id, :name %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
