<h1>Listing searches</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Shot</th>
      <th>Handedness</th>
      <th>Grip</th>
      <th>Spin</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @searches.each do |search| %>
      <tr>
        <td><%= search.name %></td>
        <td><%= search.shot %></td>
        <td><%= search.handedness %></td>
        <td><%= search.grip %></td>
        <td><%= search.spin %></td>
        <td><%= link_to 'Show', search %></td>
        <td><%= link_to 'Edit', edit_search_path(search) %></td>
        <td><%= link_to 'Destroy', search, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Search', new_search_path %>
