<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @search.name %>
</p>

<p>
  <strong>Shot:</strong>
  <%= @search.shot %>
</p>

<p>
  <strong>Handedness:</strong>
  <%= @search.handedness %>
</p>

<p>
  <strong>Grip:</strong>
  <%= @search.grip %>
</p>

<p>
  <strong>Spin:</strong>
  <%= @search.spin %>
</p>

<%= link_to 'Edit', edit_search_path(@search) %> |
<%= link_to 'Back', searches_path %>
