<%= form_for(@stroke) do |f| %>
  <% if @stroke.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@stroke.errors.count, "error") %> prohibited this stroke from being saved:</h2>

      <ul>
      <% @stroke.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :shot_id %><br>
    <%= f.text_field :shot_id %>
  </div>
  <div class="field">
    <%= f.label :hand_id %><br>
    <%= f.text_field :hand_id %>
  </div>
  <div class="field">
    <%= f.label :grip_id %><br>
    <%= f.text_field :grip_id %>
  </div>
  <div class="field">
    <%= f.label :spin_id %><br>
    <%= f.text_field :spin_id %>
  </div>
  <div class="field">
    <%= f.label :link %><br>
    <%= f.text_field :link %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
