<h1>Listing strokes</h1>

<table>
  <thead>
    <tr>
      <th>Shot</th>
      <th>Handedness</th>
      <th>Grip</th>
      <th>Spin</th>
      <th>Link</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @strokes.each do |stroke| %>
      <tr>
        <td><%= stroke.shot %></td>
        <td><%= stroke.handedness %></td>
        <td><%= stroke.grip %></td>
        <td><%= stroke.spin %></td>
        <td><%= stroke.link %></td>
        <td><%= link_to 'Show', stroke %></td>
        <td><%= link_to 'Edit', edit_stroke_path(stroke) %></td>
        <td><%= link_to 'Destroy', stroke, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stroke', new_stroke_path %>
