<p id="notice"><%= notice %></p>

<p>
  <strong>Shot:</strong>
  <%= @stroke.shot_id %>
</p>

<p>
  <strong>Handedness:</strong>
  <%= @stroke.hand_id %>
</p>

<p>
  <strong>Grip:</strong>
  <%= @stroke.grip_id %>
</p>

<p>
  <strong>Spin:</strong>
  <%= @stroke.spin_id %>
</p>

<p>
  <strong>Link:</strong>
  <%= @stroke.link %>
</p>

<%= link_to 'Edit', edit_stroke_path(@stroke) %> |
<%= link_to 'Back', strokes_path %>
